.container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.error {
  font-size: 18px;
  margin: 0;
  color: red;
  font-weight: 700;
}

.button {
  margin: 10px auto;
  border: 1px solid grey;
  border-radius: 16px;
  padding: 6px 20px;
  font-size: 18px;
  background-color: grey;
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease-out;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
